.email-app {
  background-color: $body-bg;
  width: 100%;
  //height: 100vh;
  
  .panel-email-app {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
  }
  
  .container-left,
  .container-rigth {
    display: inline-flex;
    position: relative;
    box-shadow: 0px 0px 13px 6px rgba(196, 194, 196, 0.75);
    height: 100vh;
  }

  .container-left {
    width: 40%;
  }

  .container-rigth {
    background-color: $body-bg;
    padding: 15px;
    width: 60%;
  }

  .email-list,
  .email-container {
    width: 100%;
  }

  .email-list {
    padding: 15px;

    .row-header {
      display: flex;
      flex-wrap: wrap;
      border-bottom: 1px solid $black-gray;
      height: 50px;
  
      h5 {
        display: inline;
        flex-grow: 1;
        color: #000000;
        font-family: $font-size-large;
        font-size: $font-size;
      }
  
      label {
        display: inline;
        flex-grow: 1;
        border-radius: 3px;
        background-color: #ff0000;
        padding: 5px;
        color: $white;
      }
  
      .dropdown-header {
        display: inline-flex;
        position: relative;
        top: 0;
        right: 0px;
        flex-grow: 3;
        float: right;
        margin-bottom: 0;
        border: 1px solid blue;
        width: 8%;
        height: 40px;
  
        .dropdown-filter {
          height: 40px;
        }
      }
    }

    .row-input-search {
      padding: 15px;
      height: 70px;
      box-sizing: border-box;
      
      .input-search {
        margin-bottom: 0;
        box-shadow: 0px 0px 13px 6px rgba(196, 194, 196, 0.75);
        color: $body-bg;
      }
    }
  }

  .container-title-email {
    top: 10px;
    width: 100%;
    height: auto;
    font-family: $font-family;
    font-size: $font-size;
    box-sizing: border-box;
    
    .row-title-email {
      border-top: 1px solid $black-gray-light;
      border-bottom: 1px solid $black-gray-light;
      padding: 15px;
      height: auto;

      .name-user,
      .email-date,
      .title-email {
        display: inline-flex;
        color: $text-color;
      }

      .name-user {
        color: $black;
        font-family: $font-family;
        font-size: $font-size;
        font-weight: 500;
      }

      .name-user,
      .title-email {
        margin: 0;
        width: 80%;
      }

      .email-date,
      .attach-icon-email {
        width: 20%;
      }

      .attach-icon-email {
        position: relative;
        float: right;
      }
    }
  }

  .email-container {
    //float: right;
    background-color: $body-bg;
    
    .buttons-row,
    .row-header-user,
    .row-subjects-tags,
    .email-text,
    .row-final-reply  {
      width: 100%;
    }
    
    .buttons-row,
    .row-final-reply {
      box-sizing: border-box;

      .delete-btn-header,
      .spam-btn-header,
      .unread-btn-header {
        border-radius: 5px;
        padding: 5px;
        height: 40px;
      }

      .delete-btn-header,
      .spam-btn-header {
        width: 30px;
      }

      .spam-btn-header {
        margin-left: 15px;
        border: 1px solid $dark-gray;
        background-color: transparent;
        color: $black;
      }

      .unread-btn-header {
        position: relative;
        float: right;
        width: auto;
      }

      .unread-btn-header:last-child {
        border-radius: 0px;
      }

      .attach-icon-email {
        color: $dark-gray;
        font-weight: lighter;
      }
    }

    .row-final-reply {
      flex-wrap: wrap;
      border-bottom: 1px solid $black-gray-light;
      height: 41px;

      .attach-icon-email {
        position: relative;
        top: 15px;
        left: 10px;
        color: $black-gray;
        font-size: 1.2em;
        font-weight: lighter;
      }

    }

    .row-header-user {
      border-top: 1px solid $black-gray-light;
    }

    .row-subjects-tags {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
      padding: 10px;
      box-sizing: border-box;

      span {
        margin-right: 15px;
        box-shadow: 0px 0px 3px 3px rgba(196, 194, 196, 0.75);
        padding: 5px;
      }
    }

    .container-email-text,
    .row-subjects-tags {
      border-radius: 10px;
      background-color: $white;
      padding: 15px;
    }

    .row-subjects-tags {
      p {
        display: inline-flex;
        margin-right: 15px;
        font-weight: 500;
      }
    }

    .container-email-text {
      height: 40vh;
    }
  }
}
