.email-app {
  box-shadow: 0px 0px 13px 6px rgba(196, 194, 196, 0.75);
  background-color: $body-bg;
  width: 100%;
  height: 100vh;
  
  .container-left,
  .container-rigth {
    display: inline-flex;
    position: relative;
    height: 100%;
  }

  .container-left {
    margin-right: 15px;
    box-shadow: 0px 0px 13px 6px rgba(196, 194, 196, 0.75);
    width: 38%;
  }

  .container-rigth {
    background-color: $body-bg;
    padding: 15px;
    width: 60%;
  }

  .email-list,
  .email-container {
    width: 100%;
    height: 100vh;
  }

  .row-header {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 15px;
    border-bottom: 1px solid $black-gray;

    h5 {
      display: inline;
      color: #000000;
      font-family: $font-size-large;
      font-size: $font-size;
    }

    label {
      display: inline;
      border-radius: 3px;
      background-color: #ff0000;
      padding: 5px;
      color: $white;
    }

    .dropdown-header {
      display: inline-flex;
      position: relative;
      top: 0;
      right: 0px;
      margin-bottom: 0;
      max-width: 10%;
      height: auto;
    }
  }

  .input-search {
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px;
    box-shadow: 0px 0px 13px 6px rgba(196, 194, 196, 0.75);
    color: $body-bg;
  }

  .container-title-email {
    top: 10px;
    width: 100%;
    height: auto;
    font-family: $font-family;
    font-size: $font-size;
    box-sizing: border-box;
    
    .row-title-email {
      border-top: 1px solid $black-gray-light;
      border-bottom: 1px solid $black-gray-light;
      padding: 15px;
      height: auto;

      .name-user,
      .email-date,
      .title-email,
      .attach-icon-email {
        display: inline-flex;
        color: $text-color;
      }

      .name-user {
        color: $black;
        font-family: $font-family;
        font-size: $font-size;
        font-weight: 500;
      }

      .name-user,
      .title-email {
        margin: 0;
        width: 80%;
      }

      .email-date,
      .attach-icon-email {
        width: 20%;
      }

    }
  }

  .email-container {
    float: right;
    background-color: $body-bg;
    

    .buttons-row,
    .row-header-user,
    .row-subjects-tags,
    .email-text,
    .row-final-reply  {
      width: 100%;
    }
    
    .buttons-row {
      .error-btn-header,
      .spam-btn-header,
      .info-btn-header {
        border-radius: 5px;
        padding: 5px;
        height: 40px;
      }

      .error-btn-header,
      .spam-btn-header {
        width: 30px;
      }

      .spam-btn-header {
        margin-left: 15px;
        border: 1px solid $dark-gray;
        background-color: transparent;
        color: $black;
      }

      .info-btn-header {
        width: auto;
        position: relative;
        float: right;
      }
    }

    .row-header-user {
      border-top: 1px solid black;
    }

    .row-subjects-tags {
      display: flex;
      flex-direction: row;
      margin-bottom: 10px;
      padding: 10px;
      box-sizing: border-box;

      span {
        margin-right: 15px;
        box-shadow: 0px 0px 3px 3px rgba(196, 194, 196, 0.75);
        padding: 5px;
      }
    }

    .container-email-text,
    .row-subjects-tags {
      border-radius: 10px;
      background-color: $white;
      padding: 15px;
    }

    .container-email-text {
      height: 70vh;
    }
  }
}
